
<section class="p-1">
  <h1 class="text-3xl font-bold">{{ country().name }}</h1>
  <h1 class="text-xl font-thin">Poblacion: {{ country().population | number }}</h1>
</section>

<div class="flex stats shadow mx-5 justify-center">
  <div class="stat place-items-center">
    <div class="stat-title">Poblacion</div>
    <div class="stat-value">{{ country().population | number }}</div>
    <div class="stat-desc">Desde {{ currentYear() }} </div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Nombre</div>
    <div class="stat-value text-secondary">{{ country().name }}</div>
    <div class="stat-desc text-secondary">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Sub Region</div>
    <div class="stat-value">{{ country().subRegion }}</div>
    <div class="stat-desc">{{ country().region }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Bandera</div>
    <div class="stat-value">{{ country().flag }}</div>
    <div class="stat-desc">{{ country().subRegion }}</div>
  </div>
</div>

<section class="w-3/4 mx-auto">
  <figure class="diff aspect-16/9" tabindex="0">
    <div class="diff-item-1" role="img">
      <img
      class="blur brightness-75"
      [alt]="country().name"
      [src]="country().flagSvg" />
    </div>
    <div class="diff-item-2" role="img" tabindex="0">
      <img
        [alt]="country().name"
        [src]="country().flagSvg" />
    </div>
    <div class="diff-resizer"></div>
  </figure>
</section>
